<app-user-info pagina="Beneficios y Caracteristicas"></app-user-info>
<app-back-page></app-back-page>

<div class="beneficios">
    <div class="beneficios__card">
        <img src="../../../assets/reciba_icon.svg" alt="reciba">
        <p>Reciba el pago de su pensión y otros depósitos en su cuenta.</p>
    </div>

    <div class="beneficios__card">
        <img src="../../../assets/programe_icon.svg" alt="reciba">
        <p>Programe de forma automática sus transferencias, el pago de productos y servicios.</p>
    </div>

    <div class="beneficios__card">
        <img src="../../../assets/obtener_icon.svg" alt="reciba">
        <p>Podrá obtener beneficios con aliados y tasas especiales en créditos para pensionados.</p>
    </div>

    <div class="beneficios__card">
        <img src="../../../assets/acceder_icon.svg" alt="reciba">
        <p>Podrá acceder a un cupo de adelanto de pensión y a los productos móviles que le ofrece Davivienda.</p>
    </div>

    <div class="beneficios__footer">
        <p class="beneficios__disclaimer">Este producto cuenta con <br> el seguro de depósitos <span>FOGAFIN</span></p>
        <button routerLink='formulario' class="beneficios__btn">Continuar</button>
    </div>
</div>
